<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Success</title>
</head>
<body>
    <div class="container">
        <div class="row col-7 mt-3">
            <div class="col">
                <div class="float-right"><a href="/logout">Log Out</a></div>
                <h1>Success! Welcome, {{request.session.user_name}}!</h1>
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success" role="alert">{{message}}</div>
                    {% else %}
                        <div class="alert alert-danger" role="alert">{{message}}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>